body{
    background-color:lightgrey
}

div{
    display: flex;

}
h1{
    color:gray;
    border-bottom: gray 1px solid;
    margin: 0;
}

ul{ 
    list-style:none;
    margin-top: 0;
    padding: 0px; 
}
ul ul li{
    margin-left:90px;

}

#Service{

    top: 63px;
}

#Publi{
    top:80px;

}
ul li a{
    color:blue;
}
ul ul{
    position : absolute;
    visibility: hidden;

}
ul li:hover ul{

    visibility:visible;


}
li:hover{
    background-color:lightpink;
}
nav{
    border-right: solid grey 1px;
}


p{
    padding-left: 60px;
    color: gray;
}


#Serv:hover{
    background-color: pink;
}

#Pub:hover{
    background-color: pink;
}